<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stock Prices</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<body>
<div>
    <h1>User Input</h1>
    <h3>Please enter a stock ticker eg. AAPL, and checck desired features</h3>
    <form action="/stockplot" method="POST">
        <span>Ticker symbol: </span> <input type="text" name="stocksticker">
        <div><input type="checkbox" name="check" value="Close">Closing price</div>
        <div><input type="checkbox" name="check" value="Adj. Close">Adjusted closing price</div>
        <div><input type="checkbox" name="check" value="Open">Opening price</div>
        <div><input type="checkbox" name="check" value="Adj. Open">Adjusted opening price</div>
        <input type="submit" name="my-form" value="Submit">
    </form>
    <h3 style="color: red">
        {{ errormessage | safe }}
    </h3>
</div>
<script>
    function getStockdata() {
        var stockinput = document.getElementById("stockID");
        console.log(stockinput.value);
        $.ajax({
                    method: "PUT",
                    data: {stocksticker: stockinput.value},
                    url: "/stockprice"
                })
                .done(function (data) {
                    console.log(data)
                })
    }
</script>
</body>
</html>
